.drop_menu li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-family: SBsans-Text;
    font-size: 16px;
    font-weight: 400;
}

.drop_menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    z-index: 9999;
    display: none;
}

.drop_menu li:hover {
    position: relative;
}

.drop_menu li span.down:hover {
    font-family: SBsans-Text;
    border: 0;
    border-image: linear-gradient(270deg, rgba(126, 232, 250, 0.3) 0%, rgba(128, 255, 114, 0.3) 100%);
    border-bottom: 6px solid transparent;
    color: rgba(128, 255, 114, 0.8);
    border-image-slice: 1;
}


.slideInUp {
    min-width: 300px;
    padding: 4px 0;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.drop_menu li:hover ul {
    background: #fff;
    display: block;
}

.drop_menu li ul li {
    position: relative;
    left: -10px;
    padding: 7px 0px;
}

.drop_menu li:hover ul li {
    width: 100%;
    margin: 0;
    padding: 0px 0px;
}

.drop_menu li:hover ul li a {
    display: block;
    transition: none;
    font-size: 16px;
    padding: 2px 12px;
    margin-left: 10px;
    margin-right: -10px;
    line-height: 26px;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


